{% extends 'base.html.twig' %}

{% block title %}Symfony console{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid d-flex mx-auto">
    <h1 class="display-4 text--static"><a href="/">symfony console</a> <span class="display-4 text--dynamic" style="color:green"> </span></h1>
</div>
<div class ="container-fluid">
    <div class="row">
        <div class="col-3 text-wrap" id="fixedNav"><h2 class="mt-3 ms-3 d-flex align-items-center" id="commande">Tapez ici votre commande :</h2>
          {{form(form)}}
        </div>
        <div class="col-9 offset-3" id="scrollableNav">
        {% if command != null %}
          <h1>{{command.command}}</h1><br>
          <p>{{ command.description|replace({'<br>': "\n"})}}</p><br>
          <img src="{{asset('images/'~command.image)}}" alt="image de la commande">
        {% else %}
          <h1>Cette commande n'existe pas</h1>
          <button><a href="/create">Voulez vous la créer ?</a></button>
        {% endif %}
        </div>
    </div>
</div>
<script>
const textElement = document.querySelector(".text--dynamic");
const wordsArray = ["make:entity", "make:controller", "make:form", "make:auth", "make:crud", "cache:clear"];
let arrayLength = wordsArray.length;

let currentLetterCount = 0,
  currentWordCount = 0,
  currentText = [],
  currentWord = "",
  currentLetter = "",
  reverse = false;

function typeWriting() {
  if (currentWordCount <= arrayLength) {
    if (currentWordCount == arrayLength) {
      currentWordCount = 0;
    }

    let letterCount = wordsArray[currentWordCount].length;
    currentWord = wordsArray[currentWordCount];

    if (!reverse && currentLetterCount < letterCount) {
      currentLetter = currentWord[currentLetterCount];
      currentText.push(currentLetter);

      textElement.textContent = currentText.join("");
      currentLetterCount++;
    }

    if (reverse && currentLetterCount <= letterCount) {
      currentText.pop();
      textElement.textContent = currentText.join("");
      currentLetterCount--;
    }

    if (currentLetterCount == letterCount) {
      reverse = true;
    }

    if (reverse && currentLetterCount == 0) {
      currentText = [];
      currentWordCount++;
      reverse = false;
    }
  }
  setTimeout(typeWriting, 150);
}

window.addEventListener("load", typeWriting);

</script>

{% endblock %}
