.lightMode {

    background-color: white;
}

#scrollableNav{
    padding:10px;
    color: white;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    background-color: #18202A;
}
#fixedNav {
    flex-direction: column;
    align-content: center;
    position: fixed;
    z-index:1;
    height: 100vh;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 50px rgb(0 0 0 / 30%);
    /* padding: 10px 30px 30px 30px; */
}

.jumbotron {
    background-image: radial-gradient(circle at 50% -20.71%, #fde6d0 0, #fae7cf 3.85%, #f6e9cf 7.69%, #f2eacf 11.54%, #efebcf 15.38%, #eaecd0 19.23%, #e6edd2 23.08%, #e2eed4 26.92%, #deefd6 30.77%, #daf0d9 34.62%, #d6f1dc 38.46%, #d3f1df 42.31%, #d0f2e2 46.15%, #cdf2e6 50%, #cbf2ea 53.85%, #c9f2ed 57.69%, #c8f2f1 61.54%, #c7f2f4 65.38%, #c7f2f8 69.23%, #c8f1fb 73.08%, #c9f0fd 76.92%, #cbf0ff 80.77%, #ceefff 84.62%, #d1eeff 88.46%, #d5edff 92.31%, #d9ecff 96.15%, #ddebff 100%);;
    text-align:center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-family: 'Poppins','Courier New';
    padding-left:24px;
}

.text--dynamic {
    color: black;
    /* height: 100%; */
    animation: blink 300ms ease infinite;
}

@keyframes blink {
    0%,
    100% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: red;
    }
}

.form-control{
    display:flex;
    align-items: center;
    z-index: 3;
    text-align: center;
    vertical-align: middle;
}

.btn{
    width: 100%;
}

.min-height-textarea {
    min-height: 1000px;
}
